.banner{
    background-image: url(https://firebasestorage.googleapis.com/v0/b/hotelnacional-e04ad.appspot.com/o/InterContinental_Hotels_MEDELLIN-Medellin-Aussenansicht-8-111565.jpg?alt=media&token=28a8581f-4b31-4a9e-9dd0-5ed2bc8dc6c0);
    background-position: top center;
    background-size: cover;
    padding: 10% 30% 40% 8%;
    
}